<router-outlet></router-outlet> 


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<h4 class="text-primary">  welcome to mywebsite </h4> -->



<!-- <a [href]="hrefVal" [attr.updateLink]='updatedLink'[attr.data-link]='updatedLink'> Google </a> 

<h5>NgIf with else statement</h5>

<div *ngIf ="showMsg ; else showElseMsg">show message</div>
<ng-template  #showElseMsg>show else msg</ng-template>

<h5>NgIf with Then and else statement</h5>


<div *ngIf ="showMsg ; then showThenMsg; else showElseMsg"></div>
<ng-template #showThenMsg>show then msg</ng-template>
<ng-template #showElseMsg>show else msg</ng-template>

<h5>ng for example</h5>

<table class="table">
    <tr>
        <th>  user id</th>
        <th> first name </th>
        <th>index</th>
        <th>first</th>
        <th>last</th>
        <th>even</th>
        <th>odd</th>
    </tr>
    <tr *ngFor="let user of users; index as i ;first as f;last as l,even as e,odd as o">
        <td>{{ user.userId }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ i}}</td>
        <td>{{ f }}</td>
        <td>{{ l }}</td>
        <td>{{ e }}</td>
        <td>{{ o }}</td>
        
    </tr>
   </table> 


<h5>ng switch example</h5>

<div [ngSwitch]= "switchValue">

    <div *ngSwitchCase="'one'">value passed is : 1</div>
    <div *ngSwitchCase="'two'">value passed is : 2</div>
    <div *ngSwitchCase="'three'">value passed is : 3</div>
    <div *ngSwitchCase="4">value passed is : 4</div>
    <div *ngSwitchDefault>this is the default value</div>
    </div>

<h5>ngstyle examples</h5>

<div [ngStyle]="{'color': 'red', 'background-color': bgColor}">  learning angular is easy</div>
<div [ngStyle]="{'color': colorVal, 'background-color': '#ddd'}">  learning angular is easy</div>

<h5>ngClass static example</h5>

<div [ngClass]="'one'">  ngclass static examples</div>

<h5>ngClass dynamic example</h5>

<div [ngClass]="clsName"> ngclass dynamic examples</div>

<h5>ngClass multipleclass example</h5>

<div [ngClass]="{'one': true ,'two':true}"> ngclass examples</div>

<h5> databinding interpolation</h5>

<div>{{subTitle}}</div>
<div>{{17}}</div>

<div>{{ user.userId}}</div>
<div>{{ user.username}}</div>
<div>{{ user.status}}</div>

<h5> databinding property bninding</h5>

<div [ngStyle]="{color:colorValue}">this is property binding</div>

<h5> databinding innerhtml property bninding</h5>

<P [innerHTML]='subTitles'></P>

<div [ngClass]= "'c1'">setting class property with property binding</div> 

<h5>attribute binding example</h5>
<a [href]="hrefValue" [attr.updateLink]='updatedLinks'[attr.data-link]='updatedLink'> Google </a> 


<h5>event binding example</h5>

<button (click)="showAlert();">click me</button>

<h5>two way databinding example</h5> -->

<!--<input [(ngModel)]="firstname" >  -->

<!--<h5>PIPE example- built in pipes</h5>

 
<div>  
    {{user.firstName | lowercase }}, {{user.lastName |uppercase  }}
</div>

<div>  
    {{user.DOB | date }}, {{user.DOB | date : 'MMMM' }} , 
    {{user.DOB | date : 'MMMM dd' }} 
</div>

<div>  
    {{user.salary  }} , {{user.salary | currency }},
     {{user.salary | currency:'INR' }}, {{user.salary | currency:'USD' }}
     ,{{user.salary | currency:'INR' :'code' }}
</div>
<div>  
    {{user|json  }} 
</div>
<div>  
    {{user }} 
</div>

<h5>parametrized pipe example</h5>

<div>  
    {{user.DOB | date : 'short' }},------
    {{user.DOB | date : 'medium' }},-----
    {{user.DOB | date : 'long' }},-----
     {{user.DOB | date : 'full' }},-----
     {{user.DOB | date : 'shortDate' }},-----
     {{user.DOB | date : 'mediumDate' }},-----
     {{user.DOB | date : 'fullDate' }},-----
     {{user.DOB | date : 'shortTime' }},-----
     {{user.DOB | date : 'mediumTime' }},-----
     {{user.DOB | date : 'longTime' }},-----
     {{user.DOB | date : 'fullTime' }},-----
</div> 


<h5>chaining pipes</h5>
<div> 
    {{user.DOB |date |uppercase }}
</div>  -->

<!-- <h5>custom pipe example</h5>

<div [innerHTML]="user.city| highlight : user.city " ></div> -->

<!-- <ul>
    <li> <a href="/products"> Products  </a></li>
    <li> <a href="/product-view"> Product view </a></li>
    <li> <a href="/product-edit"> product edit</a>  </li>
</ul> -->




<!-- <div class="" >  
<router-outlet></router-outlet> 
</div>  -->
